# Import library

In [309]:
from pynse import *
import datetime
import logging
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from itertools import islice
import datetime
from dateutil.relativedelta import relativedelta

# config logging

logging.basicConfig(level=logging.DEBUG)

In [203]:
Selec_No_of_years_to_show_data= 1

In [204]:
nse = Nse()

INFO:pynse.core:pyNse cache size: (6.07, 'MB').
You may want to run `nse.clear_data()` if running low on disk space.

### Return Market status

In [205]:
nse.market_status()

INFO:pynse.core:downloading market status
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40824
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/marketStatus HTTP/1.1" 200 227

{'marketState': [{'market': 'Capital Market',
   'marketStatus': 'Open',
   'tradeDate': '06-Sep-2021',
   'index': 'NIFTY 50',
   'last': 17364.25,
   'variation': 40.650000000001455,
   'percentChange': 0.23,
   'marketStatusMessage': 'Normal Market is Open'},
  {'market': 'Currency',
   'marketStatus': 'Open',
   'tradeDate': '06-Sep-2021',
   'index': '',
   'last': '',
   'variation': '',
   'percentChange': '',
   'marketStatusMessage': 'Market is Open'},
  {'market': 'Commodity',
   'marketStatus': 'Open',
   'tradeDate': '06-Sep-2021',
   'index': '',
   'last': '',
   'variation': '',
   'percentChange': '',
   'marketStatusMessage': 'Market is Open'},
  {'market': 'Debt',
   'marketStatus': 'Open',
   'tradeDate': '06-Sep-2021',
   'index': '',
   'last': '',
   'variation': '',
   'percentChange': '',
   'marketStatusMessage': 'Market is Open'}]}

Bhavcopy 

The Bhav Copy is a snapshot of the activity that has taken place in the market for the particular day. ... 
You can use it to observe activity taking place in any particular scrip or across the broad market, 
as it contains End Of Day (EOD) details of the entire market.

In [206]:
nse.bhavcopy()

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40876
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=SBIN&series=%5B%22EQ%22%5D&from=27-08-2021&to=06-09-2021&csv=true HTTP/1.1" 200 437
DEBUG:pynse.core:read C:\Users\kumar\.pynse/bhavcopy_eq/bhav_2021-09-03.pkl from disk

,,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
SYMBOL,SERIES,,,,,,,,,,,,,
20MICRONS,EQ,2021-09-03,53.85,54.45,54.85,53.15,53.55,53.60,53.79,53659,28.86,647,33348,62.15
21STCENMGM,EQ,2021-09-03,34.85,35.50,35.50,35.50,35.50,35.50,35.50,998,0.35,13,998,100.00
3MINDIA,EQ,2021-09-03,24543.05,24900.00,25000.00,24400.00,24600.00,24537.05,24799.79,4348,1078.29,1631,2632,60.53
5PAISA,EQ,2021-09-03,466.15,463.00,475.10,463.00,471.45,471.30,471.19,17740,83.59,512,6406,36.11
63MOONS,EQ,2021-09-03,94.80,93.75,99.45,93.75,97.20,96.80,97.93,136393,133.57,1926,75668,55.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZODIACLOTH,EQ,2021-09-03,113.05,115.70,118.90,112.20,113.80,113.50,116.14,105715,122.78,2753,45302,42.85
ZODJRDMKJ,EQ,2021-09-03,30.95,31.65,31.70,30.45,31.50,31.35,31.07,8461,2.63,264,1240,14.66
ZOMATO,EQ,2021-09-03,137.60,135.95,151.40,135.60,149.00,149.75,146.54,113381518,166147.44,487984,22627095,19.96
ZOTA,EQ,2021-09-03,381.85,386.75,388.75,371.55,377.00,378.20,379.30,53019,201.10,1981,30949,58.37
ZYDUSWELL,EQ,2021-09-03,2319.40,2320.00,2325.00,2287.15,2294.95,2301.05,2308.59,16645,384.27,2694,10069,60.49

Sort data by average price

In [212]:
daily_share_price =nse.bhavcopy()
filt = daily_share_price.sort_values(by= ['AVG_PRICE'],ascending=False).head(5)

filt
top_5_share_by_average_price= filt
top_5_share_by_average_price

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40784
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=SBIN&series=%5B%22EQ%22%5D&from=27-08-2021&to=06-09-2021&csv=true HTTP/1.1" 200 437
DEBUG:pynse.core:read C:\Users\kumar\.pynse/bhavcopy_eq/bhav_2021-09-03.pkl from disk

,,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
SYMBOL,SERIES,,,,,,,,,,,,,
MRF,EQ,2021-09-03,81265.15,81949.0,82600.10,81509.90,82300.0,82397.85,82217.08,15764,12960.70,10243,4431,28.11
HONAUT,EQ,2021-09-03,40517.35,40599.9,40603.05,40084.05,40175.0,40161.60,40445.65,3233,1307.61,1132,2187,67.65
PAGEIND,EQ,2021-09-03,32049.55,32032.0,32949.85,32032.00,32386.6,32473.30,32493.84,18937,6153.36,9938,6096,32.19
SHREECEM,EQ,2021-09-03,30323.25,30290.1,30590.80,29962.10,30400.0,30440.80,30275.16,81600,24704.53,29680,20487,25.11
3MINDIA,EQ,2021-09-03,24543.05,24900.0,25000.00,24400.00,24600.0,24537.05,24799.79,4348,1078.29,1631,2632,60.53

Here Symbol and series are index, to proced further, First reset indexes.

In [213]:
top_5_share_by_average_price.index

MultiIndex([(     'MRF', 'EQ'),
            (  'HONAUT', 'EQ'),
            ( 'PAGEIND', 'EQ'),
            ('SHREECEM', 'EQ'),
            ( '3MINDIA', 'EQ')],
           names=['SYMBOL', 'SERIES'])

# Reset Index

In [214]:
top_5_share_by_average_price= top_5_share_by_average_price.reset_index()
top_5_share_by_average_price

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,MRF,EQ,2021-09-03,81265.15,81949.0,82600.10,81509.90,82300.0,82397.85,82217.08,15764,12960.70,10243,4431,28.11
1,HONAUT,EQ,2021-09-03,40517.35,40599.9,40603.05,40084.05,40175.0,40161.60,40445.65,3233,1307.61,1132,2187,67.65
2,PAGEIND,EQ,2021-09-03,32049.55,32032.0,32949.85,32032.00,32386.6,32473.30,32493.84,18937,6153.36,9938,6096,32.19
3,SHREECEM,EQ,2021-09-03,30323.25,30290.1,30590.80,29962.10,30400.0,30440.80,30275.16,81600,24704.53,29680,20487,25.11
4,3MINDIA,EQ,2021-09-03,24543.05,24900.0,25000.00,24400.00,24600.0,24537.05,24799.79,4348,1078.29,1631,2632,60.53

### Store top 5 share in list

In [215]:
list_of_top_5_share= []
list_of_top_5_share= top_5_share_by_average_price['SYMBOL']
print(list_of_top_5_share)

0         MRF
1      HONAUT
2     PAGEIND
3    SHREECEM
4     3MINDIA
Name: SYMBOL, dtype: object

Create pandas data_frame

In [216]:
pd_data_frame = pd.DataFrame(top_5_share_by_average_price)

# Set time duration to fetch data

In [12]:
datetime.date.today()

datetime.date(2021, 9, 6)

In [217]:
years_ago = datetime.date.today() - relativedelta(years=Selec_No_of_years_to_show_data)

years_ago

datetime.date(2020, 9, 6)

# Testing of getting data from NSE

In [218]:
hdfc= nse.get_hist('HDFC', years_ago,datetime.date.today())
hdfc

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40724
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=HDFC&series=%5B%22EQ%22%5D&from=06-09-2020&to=06-09-2021&csv=true HTTP/1.1" 200 11094

               open     high      low    close   volume
Date
2020-09-07  1773.00  1801.45  1760.00  1791.10  4073465
2020-09-08  1785.10  1793.25  1770.80  1777.30  2456321
2020-09-09  1759.55  1777.90  1755.00  1760.75  2509630
2020-09-10  1781.00  1792.95  1760.00  1777.45  3245630
2020-09-11  1771.00  1786.00  1760.00  1768.15  2232185
...             ...      ...      ...      ...      ...
2021-08-30  2730.45  2764.90  2723.10  2755.70  1731926
2021-08-31  2748.00  2812.00  2739.35  2798.50  4933523
2021-09-01  2790.00  2796.95  2736.60  2747.75  3084291
2021-09-02  2756.90  2785.00  2737.25  2777.70  1734037
2021-09-03  2768.10  2784.15  2742.10  2758.60  1914438

[248 rows x 5 columns]

 
 # Objective is to pridict MACD , lowEMA, SIGNAL_EMA,and longEMA of TOP 5 Share by  Average Price

In [219]:
list_of_top_5_share

0         MRF
1      HONAUT
2     PAGEIND
3    SHREECEM
4     3MINDIA
Name: SYMBOL, dtype: object

In [221]:
list_of_data= []
for i in list_of_top_10_share:
    list_of_data.append(nse.get_hist(i, years_ago,datetime.date.today()))
list_of_data

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40689
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=MRF&series=%5B%22EQ%22%5D&from=06-09-2020&to=06-09-2021&csv=true HTTP/1.1" 200 11458
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40693
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=HONAUT&series=%5B%22EQ%22%5D&from=06-09-2020&to=06-09-2021&csv=true HTTP/1.1" 200 10963
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40688
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=PAGEIND&series=%5B%22EQ%22%5D&from=06-09-2020&to=06-09-2021&csv=true HTTP/1.1" 200 11398
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40697
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=SHREECEM&series=%5B%22EQ%22%5D&from=06-09-2020&to=06-09-2021&csv=true HTTP/1.1" 200 11415
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40693
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=3MINDIA&series=%5B%22EQ%22%5D&from=06-09-2020&to=06-09-2021&csv=true HTTP/1.1" 200 10622
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40700
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www1.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www1.nseindia.com:443 "GET /products/dynaContent/equities/indices/historicalindices.jsp?indexType=NIFTYEES&fromDate=06-09-2020&toDate=15-12-2020 HTTP/1.1" 200 201
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40114
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www1.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www1.nseindia.com:443 "GET /products/dynaContent/equities/indices/historicalindices.jsp?indexType=NIFTYEES&fromDate=16-12-2020&toDate=26-03-2021 HTTP/1.1" 200 201
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40120
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www1.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www1.nseindia.com:443 "GET /products/dynaContent/equities/indices/historicalindices.jsp?indexType=NIFTYEES&fromDate=27-03-2021&toDate=05-07-2021 HTTP/1.1" 200 200
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40692
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www1.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www1.nseindia.com:443 "GET /products/dynaContent/equities/indices/historicalindices.jsp?indexType=NIFTYEES&fromDate=06-07-2021&toDate=06-09-2021 HTTP/1.1" 200 198
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40691
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=NESTLEIND&series=%5B%22EQ%22%5D&from=06-09-2020&to=06-09-2021&csv=true HTTP/1.1" 200 11081
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40687
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=ABBOTINDIA&series=%5B%22EQ%22%5D&from=06-09-2020&to=06-09-2021&csv=true HTTP/1.1" 200 10616
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40702
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=TASTYBITE&series=%5B%22EQ%22%5D&from=06-09-2020&to=06-09-2021&csv=true HTTP/1.1" 200 10278
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40700
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=BAJAJFINSV&series=%5B%22EQ%22%5D&from=06-09-2020&to=06-09-2021&csv=true HTTP/1.1" 200 11534

[               open      high       low     close  volume
 Date
 2020-09-07  58425.4  58854.95  58000.00  58374.20   12609
 2020-09-08  58500.0  58500.00  58050.00  58212.65    9805
 2020-09-09  58200.0  59054.95  57867.00  58763.55   12863
 2020-09-10  58865.0  59399.00  58700.00  59134.05    9822
 2020-09-11  59100.0  59400.00  58445.90  59226.70   14081
 ...             ...       ...       ...       ...     ...
 2021-08-30  77000.0  78374.95  77000.00  78185.50    9045
 2021-08-31  78300.0  79855.05  78257.80  79742.75   14859
 2021-09-01  80000.0  80559.95  79239.80  79954.65   10789
 2021-09-02  80393.0  81875.55  80041.45  81265.15   14947
 2021-09-03  81949.0  82600.10  81509.90  82397.85   15764

 [248 rows x 5 columns],
                open      high       low     close  volume
 Date
 2020-09-07  32250.0  32699.00  32150.00  32238.20    1048
 2020-09-08  32238.2  32392.00  31150.00  31321.10    2538
 2020-09-09  31280.0  32500.00  30802.00  31303.15    2969
 2020-09-10  31399.0  32666.20  31328.55  32136.85   11437
 2020-09-11  32279.0  32800.00  31705.00  32625.15    3441
 ...             ...       ...       ...       ...     ...
 2021-08-30  40139.0  40350.00  39306.70  39636.30    4555
 2021-08-31  39636.3  40500.00  39501.10  39604.90    5046
 2021-09-01  39899.0  40888.00  39250.00  40299.10    5721
 2021-09-02  40569.0  40690.00  40160.00  40517.35    3795
 2021-09-03  40599.9  40603.05  40084.05  40161.60    3233

 [248 rows x 5 columns],
                open      high       low     close  volume
 Date
 2020-09-07  18550.0  18625.00  17900.00  18305.65   89494
 2020-09-08  18299.9  18575.00  18050.00  18137.45   61865
 2020-09-09  18100.0  18589.95  17905.10  18503.85   67414
 2020-09-10  18511.2  18743.35  18301.50  18495.10   73491
 2020-09-11  18478.0  18777.00  18384.25  18440.75   45656
 ...             ...       ...       ...       ...     ...
 2021-08-30  30950.0  31490.00  30899.95  31424.20   21907
 2021-08-31  31424.2  31629.00  31100.00  31499.10   23477
 2021-09-01  31500.0  32288.95  31279.30  32108.25   21226
 2021-09-02  32116.5  32391.90  31721.00  32049.55   23348
 2021-09-03  32032.0  32949.85  32032.00  32473.30   18937

 [248 rows x 5 columns],
                 open      high       low     close  volume
 Date
 2020-09-07  20100.00  20119.15  19636.05  19782.95   59729
 2020-09-08  19782.95  20199.00  19272.10  19355.85   65858
 2020-09-09  19300.00  19566.00  19068.05  19401.50   83567
 2020-09-10  19500.00  19750.00  19319.00  19643.35   44713
 2020-09-11  19735.50  19735.50  19365.10  19502.50   61264
 ...              ...       ...       ...       ...     ...
 2021-08-30  26900.10  27420.00  26830.80  27157.85   41390
 2021-08-31  27150.00  28469.00  27048.75  28287.90  102061
 2021-09-01  28296.00  28600.00  27948.10  28478.25   75809
 2021-09-02  28550.00  30514.85  28480.00  30323.25  157100
 2021-09-03  30290.10  30590.80  29962.10  30440.80   81600

 [248 rows x 5 columns],
                 open      high       low     close  volume
 Date
 2020-09-07  19700.00  19739.65  19301.45  19353.15    2449
 2020-09-08  19400.00  19612.00  19100.00  19130.70    2847
 2020-09-09  19145.00  19299.00  18532.10  18807.35    2475
 2020-09-10  18851.00  19241.00  18700.00  18726.10    3035
 2020-09-11  18999.90  18999.90  18350.00  18569.00    7016
 ...              ...       ...       ...       ...     ...
 2021-08-30  22688.15  23062.45  22618.00  22979.10   21577
 2021-08-31  23100.00  24838.30  23100.00  24391.45   16209
 2021-09-01  24391.45  25304.00  24164.10  25060.10    7005
 2021-09-02  25060.10  25368.00  24400.00  24543.05    4121
 2021-09-03  24900.00  25000.00  24400.00  24537.05    4348

 [248 rows x 5 columns],
 Empty DataFrame
 Columns: [Open, High, Low, Close, SharesTraded, Turnover(Cr)]
 Index: [],
                 open      high       low     close  volume
 Date
 2020-09-07  16241.00  16515.00  15972.10  16403.50  104808
 2020-09-08  16369.60  16369.60  16100.00  16126.50  105449
 2020-09-09  16000.00  16350.00  16000.00  16312.50  135800
 2020-09-10  16261.25  16450.00  16201.25  16420.70   77208
 2020-09-11  16400.00  16400.00  16204.00  16325.35   81228
 ...              ...       ...       ...       ...     ...
 2021-08-30  20050.00  20122.50  19684.25  19742.25  133958
 2021-08-31  19745.00  19839.95  19350.00  19467.75  227370
 2021-09-01  19746.80  19890.00  19552.10  19826.85  104843
 2021-09-02  19874.00  20290.00  19761.00  20240.60   78577
 2021-09-03  20250.00  20343.00  20101.05  20266.65   46978

 [248 rows x 5 columns],
                 open      high       low     close  volume
 Date
 2020-09-07  16555.00  16720.00  16300.00  16486.00    5594
 2020-09-08  16500.00  16799.00  16355.20  16723.00    9927
 2020-09-09  16500.00  16720.00  16303.00  16631.45    6526
 2020-09-10  16584.75  16781.45  16480.00  16526.10    5676
 2020-09-11  16734.95  16898.00  16450.10  16819.25   11023
 ...              ...       ...       ...       ...     ...
 2021-08-30  19092.40  19199.90  18911.00  19137.80    5847
 2021-08-31  19109.90  19398.00  19071.60  19272.10    7133
 2021-09-01  19400.00  20198.00  19345.65  20028.80   39643
 2021-09-02  20150.00  20168.85  19750.00  19832.80   19500
 2021-09-03  20000.00  20122.00  19780.00  19850.80   10014

 [248 rows x 5 columns],
                open      high       low     close  volume
 Date
 2020-09-07  11858.3  12011.65  11700.00  11725.60     946
 2020-09-08  11831.0  11974.70  11610.10  11757.65    1304
 2020-09-09  11756.0  11756.00  10551.00  11240.35    2133
 2020-09-10  11380.0  11748.10  11200.00  11355.40    1155
 2020-09-11  11401.0  11600.00  11275.00  11371.05     749
 ...             ...       ...       ...       ...     ...
 2021-08-30  18284.8  18850.00  18104.15  18709.30    2252
 2021-08-31  18899.0  18990.00  18501.00  18643.90    1146
 2021-09-01  18802.0  18802.00  18200.00  18297.00    1036
 2021-09-02  18490.0  19000.00  18171.00  18888.35    2887
 2021-09-03  18800.0  18929.00  18625.25  18872.85    1061

 [248 rows x 5 columns],
                 open      high       low     close  volume
 Date
 2020-09-07   6324.00   6349.25   6212.00   6263.65  498573
 2020-09-08   6299.00   6330.00   6212.05   6234.25  391769
 2020-09-09   6208.80   6220.00   5981.60   6026.80  929750
 2020-09-10   6079.00   6192.00   6042.85   6129.25  531609
 2020-09-11   6128.55   6174.60   6080.00   6128.40  465485
 ...              ...       ...       ...       ...     ...
 2021-08-30  16475.00  16595.00  16260.00  16560.40  336038
 2021-08-31  16500.00  17200.00  16428.25  17148.75  652127
 2021-09-01  17166.45  17263.50  16740.15  16786.30  461843
 2021-09-02  16865.00  16900.00  16610.00  16703.25  276879
 2021-09-03  16776.80  16859.85  16560.00  16734.35  248555

 [248 rows x 5 columns]]

Display data stored in list

In [222]:
list_of_data

[               open      high       low     close  volume
 Date
 2020-09-07  58425.4  58854.95  58000.00  58374.20   12609
 2020-09-08  58500.0  58500.00  58050.00  58212.65    9805
 2020-09-09  58200.0  59054.95  57867.00  58763.55   12863
 2020-09-10  58865.0  59399.00  58700.00  59134.05    9822
 2020-09-11  59100.0  59400.00  58445.90  59226.70   14081
 ...             ...       ...       ...       ...     ...
 2021-08-30  77000.0  78374.95  77000.00  78185.50    9045
 2021-08-31  78300.0  79855.05  78257.80  79742.75   14859
 2021-09-01  80000.0  80559.95  79239.80  79954.65   10789
 2021-09-02  80393.0  81875.55  80041.45  81265.15   14947
 2021-09-03  81949.0  82600.10  81509.90  82397.85   15764

 [248 rows x 5 columns],
                open      high       low     close  volume
 Date
 2020-09-07  32250.0  32699.00  32150.00  32238.20    1048
 2020-09-08  32238.2  32392.00  31150.00  31321.10    2538
 2020-09-09  31280.0  32500.00  30802.00  31303.15    2969
 2020-09-10  31399.0  32666.20  31328.55  32136.85   11437
 2020-09-11  32279.0  32800.00  31705.00  32625.15    3441
 ...             ...       ...       ...       ...     ...
 2021-08-30  40139.0  40350.00  39306.70  39636.30    4555
 2021-08-31  39636.3  40500.00  39501.10  39604.90    5046
 2021-09-01  39899.0  40888.00  39250.00  40299.10    5721
 2021-09-02  40569.0  40690.00  40160.00  40517.35    3795
 2021-09-03  40599.9  40603.05  40084.05  40161.60    3233

 [248 rows x 5 columns],
                open      high       low     close  volume
 Date
 2020-09-07  18550.0  18625.00  17900.00  18305.65   89494
 2020-09-08  18299.9  18575.00  18050.00  18137.45   61865
 2020-09-09  18100.0  18589.95  17905.10  18503.85   67414
 2020-09-10  18511.2  18743.35  18301.50  18495.10   73491
 2020-09-11  18478.0  18777.00  18384.25  18440.75   45656
 ...             ...       ...       ...       ...     ...
 2021-08-30  30950.0  31490.00  30899.95  31424.20   21907
 2021-08-31  31424.2  31629.00  31100.00  31499.10   23477
 2021-09-01  31500.0  32288.95  31279.30  32108.25   21226
 2021-09-02  32116.5  32391.90  31721.00  32049.55   23348
 2021-09-03  32032.0  32949.85  32032.00  32473.30   18937

 [248 rows x 5 columns],
                 open      high       low     close  volume
 Date
 2020-09-07  20100.00  20119.15  19636.05  19782.95   59729
 2020-09-08  19782.95  20199.00  19272.10  19355.85   65858
 2020-09-09  19300.00  19566.00  19068.05  19401.50   83567
 2020-09-10  19500.00  19750.00  19319.00  19643.35   44713
 2020-09-11  19735.50  19735.50  19365.10  19502.50   61264
 ...              ...       ...       ...       ...     ...
 2021-08-30  26900.10  27420.00  26830.80  27157.85   41390
 2021-08-31  27150.00  28469.00  27048.75  28287.90  102061
 2021-09-01  28296.00  28600.00  27948.10  28478.25   75809
 2021-09-02  28550.00  30514.85  28480.00  30323.25  157100
 2021-09-03  30290.10  30590.80  29962.10  30440.80   81600

 [248 rows x 5 columns],
                 open      high       low     close  volume
 Date
 2020-09-07  19700.00  19739.65  19301.45  19353.15    2449
 2020-09-08  19400.00  19612.00  19100.00  19130.70    2847
 2020-09-09  19145.00  19299.00  18532.10  18807.35    2475
 2020-09-10  18851.00  19241.00  18700.00  18726.10    3035
 2020-09-11  18999.90  18999.90  18350.00  18569.00    7016
 ...              ...       ...       ...       ...     ...
 2021-08-30  22688.15  23062.45  22618.00  22979.10   21577
 2021-08-31  23100.00  24838.30  23100.00  24391.45   16209
 2021-09-01  24391.45  25304.00  24164.10  25060.10    7005
 2021-09-02  25060.10  25368.00  24400.00  24543.05    4121
 2021-09-03  24900.00  25000.00  24400.00  24537.05    4348

 [248 rows x 5 columns],
 Empty DataFrame
 Columns: [Open, High, Low, Close, SharesTraded, Turnover(Cr)]
 Index: [],
                 open      high       low     close  volume
 Date
 2020-09-07  16241.00  16515.00  15972.10  16403.50  104808
 2020-09-08  16369.60  16369.60  16100.00  16126.50  105449
 2020-09-09  16000.00  16350.00  16000.00  16312.50  135800
 2020-09-10  16261.25  16450.00  16201.25  16420.70   77208
 2020-09-11  16400.00  16400.00  16204.00  16325.35   81228
 ...              ...       ...       ...       ...     ...
 2021-08-30  20050.00  20122.50  19684.25  19742.25  133958
 2021-08-31  19745.00  19839.95  19350.00  19467.75  227370
 2021-09-01  19746.80  19890.00  19552.10  19826.85  104843
 2021-09-02  19874.00  20290.00  19761.00  20240.60   78577
 2021-09-03  20250.00  20343.00  20101.05  20266.65   46978

 [248 rows x 5 columns],
                 open      high       low     close  volume
 Date
 2020-09-07  16555.00  16720.00  16300.00  16486.00    5594
 2020-09-08  16500.00  16799.00  16355.20  16723.00    9927
 2020-09-09  16500.00  16720.00  16303.00  16631.45    6526
 2020-09-10  16584.75  16781.45  16480.00  16526.10    5676
 2020-09-11  16734.95  16898.00  16450.10  16819.25   11023
 ...              ...       ...       ...       ...     ...
 2021-08-30  19092.40  19199.90  18911.00  19137.80    5847
 2021-08-31  19109.90  19398.00  19071.60  19272.10    7133
 2021-09-01  19400.00  20198.00  19345.65  20028.80   39643
 2021-09-02  20150.00  20168.85  19750.00  19832.80   19500
 2021-09-03  20000.00  20122.00  19780.00  19850.80   10014

 [248 rows x 5 columns],
                open      high       low     close  volume
 Date
 2020-09-07  11858.3  12011.65  11700.00  11725.60     946
 2020-09-08  11831.0  11974.70  11610.10  11757.65    1304
 2020-09-09  11756.0  11756.00  10551.00  11240.35    2133
 2020-09-10  11380.0  11748.10  11200.00  11355.40    1155
 2020-09-11  11401.0  11600.00  11275.00  11371.05     749
 ...             ...       ...       ...       ...     ...
 2021-08-30  18284.8  18850.00  18104.15  18709.30    2252
 2021-08-31  18899.0  18990.00  18501.00  18643.90    1146
 2021-09-01  18802.0  18802.00  18200.00  18297.00    1036
 2021-09-02  18490.0  19000.00  18171.00  18888.35    2887
 2021-09-03  18800.0  18929.00  18625.25  18872.85    1061

 [248 rows x 5 columns],
                 open      high       low     close  volume
 Date
 2020-09-07   6324.00   6349.25   6212.00   6263.65  498573
 2020-09-08   6299.00   6330.00   6212.05   6234.25  391769
 2020-09-09   6208.80   6220.00   5981.60   6026.80  929750
 2020-09-10   6079.00   6192.00   6042.85   6129.25  531609
 2020-09-11   6128.55   6174.60   6080.00   6128.40  465485
 ...              ...       ...       ...       ...     ...
 2021-08-30  16475.00  16595.00  16260.00  16560.40  336038
 2021-08-31  16500.00  17200.00  16428.25  17148.75  652127
 2021-09-01  17166.45  17263.50  16740.15  16786.30  461843
 2021-09-02  16865.00  16900.00  16610.00  16703.25  276879
 2021-09-03  16776.80  16859.85  16560.00  16734.35  248555

 [248 rows x 5 columns]]

display data of first share, data fetched by index of list

In [223]:
list_of_data[0]

               open      high       low     close  volume
Date
2020-09-07  58425.4  58854.95  58000.00  58374.20   12609
2020-09-08  58500.0  58500.00  58050.00  58212.65    9805
2020-09-09  58200.0  59054.95  57867.00  58763.55   12863
2020-09-10  58865.0  59399.00  58700.00  59134.05    9822
2020-09-11  59100.0  59400.00  58445.90  59226.70   14081
...             ...       ...       ...       ...     ...
2021-08-30  77000.0  78374.95  77000.00  78185.50    9045
2021-08-31  78300.0  79855.05  78257.80  79742.75   14859
2021-09-01  80000.0  80559.95  79239.80  79954.65   10789
2021-09-02  80393.0  81875.55  80041.45  81265.15   14947
2021-09-03  81949.0  82600.10  81509.90  82397.85   15764

[248 rows x 5 columns]

# Dump data in pandas dataFrame from  list

In [224]:
list_of_data_frame_of_share_market =[]

for i in list_of_data:
    list_of_data_frame_of_share_market.append(pd.DataFrame(i))
list_of_data_frame_of_share_market

[               open      high       low     close  volume
 Date
 2020-09-07  58425.4  58854.95  58000.00  58374.20   12609
 2020-09-08  58500.0  58500.00  58050.00  58212.65    9805
 2020-09-09  58200.0  59054.95  57867.00  58763.55   12863
 2020-09-10  58865.0  59399.00  58700.00  59134.05    9822
 2020-09-11  59100.0  59400.00  58445.90  59226.70   14081
 ...             ...       ...       ...       ...     ...
 2021-08-30  77000.0  78374.95  77000.00  78185.50    9045
 2021-08-31  78300.0  79855.05  78257.80  79742.75   14859
 2021-09-01  80000.0  80559.95  79239.80  79954.65   10789
 2021-09-02  80393.0  81875.55  80041.45  81265.15   14947
 2021-09-03  81949.0  82600.10  81509.90  82397.85   15764

 [248 rows x 5 columns],
                open      high       low     close  volume
 Date
 2020-09-07  32250.0  32699.00  32150.00  32238.20    1048
 2020-09-08  32238.2  32392.00  31150.00  31321.10    2538
 2020-09-09  31280.0  32500.00  30802.00  31303.15    2969
 2020-09-10  31399.0  32666.20  31328.55  32136.85   11437
 2020-09-11  32279.0  32800.00  31705.00  32625.15    3441
 ...             ...       ...       ...       ...     ...
 2021-08-30  40139.0  40350.00  39306.70  39636.30    4555
 2021-08-31  39636.3  40500.00  39501.10  39604.90    5046
 2021-09-01  39899.0  40888.00  39250.00  40299.10    5721
 2021-09-02  40569.0  40690.00  40160.00  40517.35    3795
 2021-09-03  40599.9  40603.05  40084.05  40161.60    3233

 [248 rows x 5 columns],
                open      high       low     close  volume
 Date
 2020-09-07  18550.0  18625.00  17900.00  18305.65   89494
 2020-09-08  18299.9  18575.00  18050.00  18137.45   61865
 2020-09-09  18100.0  18589.95  17905.10  18503.85   67414
 2020-09-10  18511.2  18743.35  18301.50  18495.10   73491
 2020-09-11  18478.0  18777.00  18384.25  18440.75   45656
 ...             ...       ...       ...       ...     ...
 2021-08-30  30950.0  31490.00  30899.95  31424.20   21907
 2021-08-31  31424.2  31629.00  31100.00  31499.10   23477
 2021-09-01  31500.0  32288.95  31279.30  32108.25   21226
 2021-09-02  32116.5  32391.90  31721.00  32049.55   23348
 2021-09-03  32032.0  32949.85  32032.00  32473.30   18937

 [248 rows x 5 columns],
                 open      high       low     close  volume
 Date
 2020-09-07  20100.00  20119.15  19636.05  19782.95   59729
 2020-09-08  19782.95  20199.00  19272.10  19355.85   65858
 2020-09-09  19300.00  19566.00  19068.05  19401.50   83567
 2020-09-10  19500.00  19750.00  19319.00  19643.35   44713
 2020-09-11  19735.50  19735.50  19365.10  19502.50   61264
 ...              ...       ...       ...       ...     ...
 2021-08-30  26900.10  27420.00  26830.80  27157.85   41390
 2021-08-31  27150.00  28469.00  27048.75  28287.90  102061
 2021-09-01  28296.00  28600.00  27948.10  28478.25   75809
 2021-09-02  28550.00  30514.85  28480.00  30323.25  157100
 2021-09-03  30290.10  30590.80  29962.10  30440.80   81600

 [248 rows x 5 columns],
                 open      high       low     close  volume
 Date
 2020-09-07  19700.00  19739.65  19301.45  19353.15    2449
 2020-09-08  19400.00  19612.00  19100.00  19130.70    2847
 2020-09-09  19145.00  19299.00  18532.10  18807.35    2475
 2020-09-10  18851.00  19241.00  18700.00  18726.10    3035
 2020-09-11  18999.90  18999.90  18350.00  18569.00    7016
 ...              ...       ...       ...       ...     ...
 2021-08-30  22688.15  23062.45  22618.00  22979.10   21577
 2021-08-31  23100.00  24838.30  23100.00  24391.45   16209
 2021-09-01  24391.45  25304.00  24164.10  25060.10    7005
 2021-09-02  25060.10  25368.00  24400.00  24543.05    4121
 2021-09-03  24900.00  25000.00  24400.00  24537.05    4348

 [248 rows x 5 columns],
 Empty DataFrame
 Columns: [Open, High, Low, Close, SharesTraded, Turnover(Cr)]
 Index: [],
                 open      high       low     close  volume
 Date
 2020-09-07  16241.00  16515.00  15972.10  16403.50  104808
 2020-09-08  16369.60  16369.60  16100.00  16126.50  105449
 2020-09-09  16000.00  16350.00  16000.00  16312.50  135800
 2020-09-10  16261.25  16450.00  16201.25  16420.70   77208
 2020-09-11  16400.00  16400.00  16204.00  16325.35   81228
 ...              ...       ...       ...       ...     ...
 2021-08-30  20050.00  20122.50  19684.25  19742.25  133958
 2021-08-31  19745.00  19839.95  19350.00  19467.75  227370
 2021-09-01  19746.80  19890.00  19552.10  19826.85  104843
 2021-09-02  19874.00  20290.00  19761.00  20240.60   78577
 2021-09-03  20250.00  20343.00  20101.05  20266.65   46978

 [248 rows x 5 columns],
                 open      high       low     close  volume
 Date
 2020-09-07  16555.00  16720.00  16300.00  16486.00    5594
 2020-09-08  16500.00  16799.00  16355.20  16723.00    9927
 2020-09-09  16500.00  16720.00  16303.00  16631.45    6526
 2020-09-10  16584.75  16781.45  16480.00  16526.10    5676
 2020-09-11  16734.95  16898.00  16450.10  16819.25   11023
 ...              ...       ...       ...       ...     ...
 2021-08-30  19092.40  19199.90  18911.00  19137.80    5847
 2021-08-31  19109.90  19398.00  19071.60  19272.10    7133
 2021-09-01  19400.00  20198.00  19345.65  20028.80   39643
 2021-09-02  20150.00  20168.85  19750.00  19832.80   19500
 2021-09-03  20000.00  20122.00  19780.00  19850.80   10014

 [248 rows x 5 columns],
                open      high       low     close  volume
 Date
 2020-09-07  11858.3  12011.65  11700.00  11725.60     946
 2020-09-08  11831.0  11974.70  11610.10  11757.65    1304
 2020-09-09  11756.0  11756.00  10551.00  11240.35    2133
 2020-09-10  11380.0  11748.10  11200.00  11355.40    1155
 2020-09-11  11401.0  11600.00  11275.00  11371.05     749
 ...             ...       ...       ...       ...     ...
 2021-08-30  18284.8  18850.00  18104.15  18709.30    2252
 2021-08-31  18899.0  18990.00  18501.00  18643.90    1146
 2021-09-01  18802.0  18802.00  18200.00  18297.00    1036
 2021-09-02  18490.0  19000.00  18171.00  18888.35    2887
 2021-09-03  18800.0  18929.00  18625.25  18872.85    1061

 [248 rows x 5 columns],
                 open      high       low     close  volume
 Date
 2020-09-07   6324.00   6349.25   6212.00   6263.65  498573
 2020-09-08   6299.00   6330.00   6212.05   6234.25  391769
 2020-09-09   6208.80   6220.00   5981.60   6026.80  929750
 2020-09-10   6079.00   6192.00   6042.85   6129.25  531609
 2020-09-11   6128.55   6174.60   6080.00   6128.40  465485
 ...              ...       ...       ...       ...     ...
 2021-08-30  16475.00  16595.00  16260.00  16560.40  336038
 2021-08-31  16500.00  17200.00  16428.25  17148.75  652127
 2021-09-01  17166.45  17263.50  16740.15  16786.30  461843
 2021-09-02  16865.00  16900.00  16610.00  16703.25  276879
 2021-09-03  16776.80  16859.85  16560.00  16734.35  248555

 [248 rows x 5 columns]]

In [225]:
list_of_data_frame_of_share_market[0]

               open      high       low     close  volume
Date
2020-09-07  58425.4  58854.95  58000.00  58374.20   12609
2020-09-08  58500.0  58500.00  58050.00  58212.65    9805
2020-09-09  58200.0  59054.95  57867.00  58763.55   12863
2020-09-10  58865.0  59399.00  58700.00  59134.05    9822
2020-09-11  59100.0  59400.00  58445.90  59226.70   14081
...             ...       ...       ...       ...     ...
2021-08-30  77000.0  78374.95  77000.00  78185.50    9045
2021-08-31  78300.0  79855.05  78257.80  79742.75   14859
2021-09-01  80000.0  80559.95  79239.80  79954.65   10789
2021-09-02  80393.0  81875.55  80041.45  81265.15   14947
2021-09-03  81949.0  82600.10  81509.90  82397.85   15764

[248 rows x 5 columns]

longEMA= df.Close.ewm(span=21, adjust=False).mean()
longEMA

## Calculate 3 moving averages according to closig market

In [28]:
list_of_data_frame_of_share_market[0]

               open      high       low     close  volume
Date
2019-09-06  58080.0  58980.00  57900.10  58754.30    2892
2019-09-09  58802.0  59200.00  58333.00  58869.10    2887
2019-09-11  58950.0  60280.00  58875.05  60101.95    6205
2019-09-12  60256.0  61109.95  60000.00  60658.90    7908
2019-09-13  60754.0  60996.70  59760.05  60119.95    7070
...             ...       ...       ...       ...     ...
2021-08-30  77000.0  78374.95  77000.00  78185.50    9045
2021-08-31  78300.0  79855.05  78257.80  79742.75   14859
2021-09-01  80000.0  80559.95  79239.80  79954.65   10789
2021-09-02  80393.0  81875.55  80041.45  81265.15   14947
2021-09-03  81949.0  82600.10  81509.90  82397.85   15764

[496 rows x 5 columns]

# Find values short Signam and Long 'MACD' Lines.

In [229]:
list_of_EMA =[]


# signalEMA= list_of_data_frame_of_share_market[0]['close'].ewm(span=12, adjust=False).mean()
# longEMA= list_of_data_frame_of_share_market[0]['close'].ewm(span=26, adjust=False).mean()

# for i in range(len(list_of_data_frame_of_share_market)):
#     print(len(list_of_data_frame_of_share_market))
#     print(type(i))
#     print(ord('i'))
#     j= ord('i')- 105

shortEMA= list_of_data_frame_of_share_market[0]['close'].ewm(span=9, adjust=False).mean()
signalEMA= list_of_data_frame_of_share_market[0]['close'].ewm(span=12, adjust=False).mean()
longEMA= list_of_data_frame_of_share_market[0]['close'].ewm(span=26, adjust=False).mean()
        
        
shortEMA_1= list_of_data_frame_of_share_market[1]['close'].ewm(span=9, adjust=False).mean()
signalEMA_1= list_of_data_frame_of_share_market[1]['close'].ewm(span=12, adjust=False).mean()
longEMA_1= list_of_data_frame_of_share_market[1]['close'].ewm(span=26, adjust=False).mean()
        
        
shortEMA_2= list_of_data_frame_of_share_market[2]['close'].ewm(span=9, adjust=False).mean()
signalEMA_2= list_of_data_frame_of_share_market[2]['close'].ewm(span=12, adjust=False).mean()
longEMA_2= list_of_data_frame_of_share_market[2]['close'].ewm(span=26, adjust=False).mean()
       
shortEMA_3= list_of_data_frame_of_share_market[3]['close'].ewm(span=9, adjust=False).mean()
signalEMA_3= list_of_data_frame_of_share_market[3]['close'].ewm(span=12, adjust=False).mean()
longEMA_3= list_of_data_frame_of_share_market[3]['close'].ewm(span=26, adjust=False).mean()
        
short_EMA_4= list_of_data_frame_of_share_market[4]['close'].ewm(span=9, adjust=False).mean()
signalEMA_4= list_of_data_frame_of_share_market[4]['close'].ewm(span=12, adjust=False).mean()
longEMA_4= list_of_data_frame_of_share_market[4]['close'].ewm(span=26, adjust=False).mean()
        
# shortEMA_5= list_of_data_frame_of_share_market[5]['close'].ewm(span=9, adjust=False).mean()
# signalEMA_5= list_of_data_frame_of_share_market[5]['close'].ewm(span=12, adjust=False).mean()
# longEMA_5= list_of_data_frame_of_share_market[5]['close'].ewm(span=26, adjust=False).mean()
        
# shortEMA_6= list_of_data_frame_of_share_market[6]['close'].ewm(span=9, adjust=False).mean()
# signalEMA_6= list_of_data_frame_of_share_market[6]['close'].ewm(span=12, adjust=False).mean()
# longEMA_6= list_of_data_frame_of_share_market[6]['close'].ewm(span=26, adjust=False).mean()
        
# shortEMA_7= list_of_data_frame_of_share_market[7]['close'].ewm(span=9, adjust=False).mean()
# signalEMA_7= list_of_data_frame_of_share_market[7]['close'].ewm(span=12, adjust=False).mean()
# longEMA_7= list_of_data_frame_of_share_market[7]['close'].ewm(span=26, adjust=False).mean()
        
# shortEMA_8= list_of_data_frame_of_share_market[8]['close'].ewm(span=9, adjust=False).mean()
# signalEMA_8= list_of_data_frame_of_share_market[8]['close'].ewm(span=12, adjust=False).mean()
# longEMA_8= list_of_data_frame_of_share_market[8]['close'].ewm(span=26, adjust=False).mean()
        
# shortEMA_9= list_of_data_frame_of_share_market[9]['close'].ewm(span=9, adjust=False).mean()
# signalEMA_9= list_of_data_frame_of_share_market[9]['close'].ewm(span=12, adjust=False).mean()
# longEMA_9= list_of_data_frame_of_share_market[9]['close'].ewm(span=26, adjust=False).mean()
        
        
#     list_of_EMA =[[shortEMA,signalEMA,longEMA],[shortEMA_1,signalEMA_1,longEMA_1],[shortEMA_2,signalEMA_2,longEMA_2],
#                  [shortEMA_3,signalEMA_3,longEMA_3],[short_EMA_4,signalEMA_4,longEMA_4],[shortEMA_5,signalEMA_5,longEMA_5],
#                  [shortEMA_6,signalEMA_6,longEMA_6],[shortEMA_7,signalEMA_7,longEMA_7],[shortEMA_8,signalEMA_8,longEMA_8],
#                  [shortEMA_9,signalEMA_9,longEMA_9]]
    
list_of_EMA =[[shortEMA,signalEMA,longEMA],[shortEMA_1,signalEMA_1,longEMA_1],[shortEMA_2,signalEMA_2,longEMA_2],
                 [shortEMA_3,signalEMA_3,longEMA_3],[short_EMA_4,signalEMA_4,longEMA_4]]

# Reference for analysis

list_of_EMA[0][0][0]
list_of_EMA[0][1][0]
list_of_EMA[0][2][0]

list_of_EMA[1][0][0]
list_of_EMA[1][1][0]
list_of_EMA[1][2][0]

In [280]:
dict_of_latest_CDMA= {}
list_of_top_5_share 
for i in list_of_EMA:
    for j in i:
        for l in list_of_top_5_share:
            print(j[0])
            dict_of_latest_CDMA[l] = j[0]
            print("=======================================")
    print('...........................')

58374.2
=======================================
58374.2
=======================================
58374.2
=======================================
58374.2
=======================================
58374.2
=======================================
58374.2
=======================================
58374.2
=======================================
58374.2
=======================================
58374.2
=======================================
58374.2
=======================================
58374.2
=======================================
58374.2
=======================================
58374.2
=======================================
58374.2
=======================================
58374.2
=======================================
...........................
32238.2
=======================================
32238.2
=======================================
32238.2
=======================================
32238.2
=======================================
32238.2
=======================================
32238.2
=======================================
32238.2
=======================================
32238.2
=======================================
32238.2
=======================================
32238.2
=======================================
32238.2
=======================================
32238.2
=======================================
32238.2
=======================================
32238.2
=======================================
32238.2
=======================================
...........................
18305.65
=======================================
18305.65
=======================================
18305.65
=======================================
18305.65
=======================================
18305.65
=======================================
18305.65
=======================================
18305.65
=======================================
18305.65
=======================================
18305.65
=======================================
18305.65
=======================================
18305.65
=======================================
18305.65
=======================================
18305.65
=======================================
18305.65
=======================================
18305.65
=======================================
...........................
19782.95
=======================================
19782.95
=======================================
19782.95
=======================================
19782.95
=======================================
19782.95
=======================================
19782.95
=======================================
19782.95
=======================================
19782.95
=======================================
19782.95
=======================================
19782.95
=======================================
19782.95
=======================================
19782.95
=======================================
19782.95
=======================================
19782.95
=======================================
19782.95
=======================================
...........................
19353.15
=======================================
19353.15
=======================================
19353.15
=======================================
19353.15
=======================================
19353.15
=======================================
19353.15
=======================================
19353.15
=======================================
19353.15
=======================================
19353.15
=======================================
19353.15
=======================================
19353.15
=======================================
19353.15
=======================================
19353.15
=======================================
19353.15
=======================================
19353.15
=======================================
...........................

In [304]:
list_of_column_data= []
for i in list_of_EMA:
    for j in range(0,len(i)):
        list_of_column_data.append(i[0][0])
print(len(list_of_column_data))

15

In [314]:
length_to_split = [5,5,5]

Inputt = iter(list_of_column_data)
Output = [list(islice(Inputt, elem))
          for elem in length_to_split]

# Printing Output

print("Split length list: ", length_to_split)
print("List after splitting", Output)

Split length list:  [5, 5, 5]
List after splitting [[58374.2, 58374.2, 58374.2, 32238.2, 32238.2], [32238.2, 18305.65, 18305.65, 18305.65, 19782.95], [19782.95, 19782.95, 19353.15, 19353.15, 19353.15]]

In [359]:
numpy_array = np.array(Output)
transpose = numpy_array.T

In [360]:
transpose

array([[58374.2 , 32238.2 , 19782.95],
       [58374.2 , 18305.65, 19782.95],
       [58374.2 , 18305.65, 19353.15],
       [32238.2 , 18305.65, 19353.15],
       [32238.2 , 19782.95, 19353.15]])

In [362]:
data_frame =pd.DataFrame(transpose,columns=['shortEMA','signalEMA','LongEMA'])

data_frame

   shortEMA  signalEMA   LongEMA
0   58374.2   32238.20  19782.95
1   58374.2   18305.65  19782.95
2   58374.2   18305.65  19353.15
3   32238.2   18305.65  19353.15
4   32238.2   19782.95  19353.15

In [364]:
data_frame['Stock_name'] = list_of_top_5_share

# Display data in tabular format , this data autometically update from NSE Website and dislay MACD Line , Signal Line with respect to top 5 share (by Avg_price) 
and respective values

In [365]:
data_frame

   shortEMA  signalEMA   LongEMA Stock_name
0   58374.2   32238.20  19782.95        MRF
1   58374.2   18305.65  19782.95     HONAUT
2   58374.2   18305.65  19353.15    PAGEIND
3   32238.2   18305.65  19353.15   SHREECEM
4   32238.2   19782.95  19353.15    3MINDIA