### pynse

#### install pynse

In [2]:
pip install nsepy

Requirement already satisfied: nsepy in c:\users\kumar\anaconda3\lib\site-packages (0.8)
Requirement already satisfied: click in c:\users\kumar\anaconda3\lib\site-packages (from nsepy) (7.1.2)
Requirement already satisfied: pandas in c:\users\kumar\anaconda3\lib\site-packages (from nsepy) (1.2.4)
Requirement already satisfied: six in c:\users\kumar\anaconda3\lib\site-packages (from nsepy) (1.15.0)
Requirement already satisfied: requests in c:\users\kumar\anaconda3\lib\site-packages (from nsepy) (2.25.1)
Requirement already satisfied: lxml in c:\users\kumar\anaconda3\lib\site-packages (from nsepy) (4.6.3)
Requirement already satisfied: beautifulsoup4 in c:\users\kumar\anaconda3\lib\site-packages (from nsepy) (4.9.3)
Requirement already satisfied: numpy in c:\users\kumar\anaconda3\lib\site-packages (from nsepy) (1.20.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\kumar\anaconda3\lib\site-packages (from beautifulsoup4->nsepy) (2.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\kumar\anaconda3\lib\site-packages (from pandas->nsepy) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\kumar\anaconda3\lib\site-packages (from pandas->nsepy) (2021.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kumar\anaconda3\lib\site-packages (from requests->nsepy) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kumar\anaconda3\lib\site-packages (from requests->nsepy) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\kumar\anaconda3\lib\site-packages (from requests->nsepy) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\kumar\anaconda3\lib\site-packages (from requests->nsepy) (4.0.0)
Note: you may need to restart the kernel to use updated packages.

In [57]:
from nsepy import * 
import datetime
import logging
import pandas as pd
# config logging

logging.basicConfig(level=logging.DEBUG)

In [8]:
from pynse import *

In [10]:
# init nse 

nse = Nse()

INFO:pynse.core:pyNse cache size: (43.79, 'KB').
You may want to run `nse.clear_data()` if running low on disk space.

In [ ]:
Return market status

In [11]:
nse.market_status()

INFO:pynse.core:downloading market status
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40954
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/marketStatus HTTP/1.1" 200 222

{'marketState': [{'market': 'Capital Market',
   'marketStatus': 'Close',
   'tradeDate': '06-Sep-2021',
   'index': 'NIFTY 50',
   'last': 17323.6,
   'variation': 89.44999999999709,
   'percentChange': 0.52,
   'marketStatusMessage': 'Market is Closed'},
  {'market': 'Currency',
   'marketStatus': 'Close',
   'tradeDate': '06-Sep-2021',
   'index': '',
   'last': '',
   'variation': '',
   'percentChange': '',
   'marketStatusMessage': 'Market is Closed'},
  {'market': 'Commodity',
   'marketStatus': 'Close',
   'tradeDate': '06-Sep-2021',
   'index': '',
   'last': '',
   'variation': '',
   'percentChange': '',
   'marketStatusMessage': 'Market is Closed'},
  {'market': 'Debt',
   'marketStatus': 'Close',
   'tradeDate': '06-Sep-2021',
   'index': '',
   'last': '',
   'variation': '',
   'percentChange': '',
   'marketStatusMessage': 'Market is Closed'}]}

In [12]:
nse.info('SBIN')

INFO:pynse.core:downloading symbol info for SBIN
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40945
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/equity-meta-info?symbol=SBIN HTTP/1.1" 200 209

{'symbol': 'SBIN',
 'companyName': 'State Bank of India',
 'industry': 'BANKS',
 'activeSeries': ['EQ'],
 'debtSeries': [],
 'tempSuspendedSeries': ['IL', 'N1', 'N2', 'N3', 'N4', 'N5', 'N6'],
 'isFNOSec': True,
 'isCASec': False,
 'isSLBSec': True,
 'isDebtSec': False,
 'isSuspended': False,
 'isETFSec': False,
 'isDelisted': False,
 'isin': 'INE062A08066'}

# Bhavcopy

In [93]:
daily_share_price =nse.bhavcopy()
daily_share_price

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40895
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=SBIN&series=%5B%22EQ%22%5D&from=27-08-2021&to=05-09-2021&csv=true HTTP/1.1" 200 437
DEBUG:pynse.core:read C:\Users\kumar\.pynse/bhavcopy_eq/bhav_2021-09-03.pkl from disk

,,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
SYMBOL,SERIES,,,,,,,,,,,,,
20MICRONS,EQ,2021-09-03,53.85,54.45,54.85,53.15,53.55,53.60,53.79,53659,28.86,647,33348,62.15
21STCENMGM,EQ,2021-09-03,34.85,35.50,35.50,35.50,35.50,35.50,35.50,998,0.35,13,998,100.00
3MINDIA,EQ,2021-09-03,24543.05,24900.00,25000.00,24400.00,24600.00,24537.05,24799.79,4348,1078.29,1631,2632,60.53
5PAISA,EQ,2021-09-03,466.15,463.00,475.10,463.00,471.45,471.30,471.19,17740,83.59,512,6406,36.11
63MOONS,EQ,2021-09-03,94.80,93.75,99.45,93.75,97.20,96.80,97.93,136393,133.57,1926,75668,55.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZODIACLOTH,EQ,2021-09-03,113.05,115.70,118.90,112.20,113.80,113.50,116.14,105715,122.78,2753,45302,42.85
ZODJRDMKJ,EQ,2021-09-03,30.95,31.65,31.70,30.45,31.50,31.35,31.07,8461,2.63,264,1240,14.66
ZOMATO,EQ,2021-09-03,137.60,135.95,151.40,135.60,149.00,149.75,146.54,113381518,166147.44,487984,22627095,19.96
ZOTA,EQ,2021-09-03,381.85,386.75,388.75,371.55,377.00,378.20,379.30,53019,201.10,1981,30949,58.37
ZYDUSWELL,EQ,2021-09-03,2319.40,2320.00,2325.00,2287.15,2294.95,2301.05,2308.59,16645,384.27,2694,10069,60.49

In [95]:
list_of_top_10_share= []
daily_share_price =nse.bhavcopy()
filt = daily_share_price['AVG_PRICE'].sort_values(ascending= False).head(10)
# daily_share_price[filt]
filt

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40895
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=SBIN&series=%5B%22EQ%22%5D&from=27-08-2021&to=05-09-2021&csv=true HTTP/1.1" 200 437
DEBUG:pynse.core:read C:\Users\kumar\.pynse/bhavcopy_eq/bhav_2021-09-03.pkl from disk

SYMBOL      SERIES
MRF         EQ        82217.08
HONAUT      EQ        40445.65
PAGEIND     EQ        32493.84
SHREECEM    EQ        30275.16
3MINDIA     EQ        24799.79
NIFTYEES    EQ        22334.57
NESTLEIND   EQ        20230.60
ABBOTINDIA  EQ        19958.16
TASTYBITE   EQ        18805.47
BAJAJFINSV  EQ        16681.70
Name: AVG_PRICE, dtype: float64

In [138]:
t.index

MultiIndex([(       'MRF', 'EQ'),
            (    'HONAUT', 'EQ'),
            (   'PAGEIND', 'EQ'),
            (  'SHREECEM', 'EQ'),
            (   '3MINDIA', 'EQ'),
            (  'NIFTYEES', 'EQ'),
            ( 'NESTLEIND', 'EQ'),
            ('ABBOTINDIA', 'EQ'),
            ( 'TASTYBITE', 'EQ'),
            ('BAJAJFINSV', 'EQ')],
           names=['SYMBOL', 'SERIES'])

In [144]:
t.reset_index(inplace= True)

In [151]:
list_of_top_10_share_company= []

list_of_top_10_share_company = t['SYMBOL']

for i in list_of_top_10_share_company:
    print(i)

MRF
HONAUT
PAGEIND
SHREECEM
3MINDIA
NIFTYEES
NESTLEIND
ABBOTINDIA
TASTYBITE
BAJAJFINSV

In [19]:
daily_share_price =nse.bhavcopy(datetime.date(2020,4,5))
daily_share_price

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40951
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): archives.nseindia.com:443
DEBUG:urllib3.connectionpool:https://archives.nseindia.com:443 "GET /products/content/sec_bhavdata_full_05042020.csv HTTP/1.1" 200 None

,,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
SYMBOL,SERIES,,,,,,,,,,,,,
20MICRONS,EQ,2020-04-03,24.55,25.00,25.55,23.20,24.40,24.45,24.22,18990,4.60,340,7501,39.50
21STCENMGM,EQ,2020-04-03,10.65,10.65,10.65,10.50,10.50,10.50,10.50,499,0.05,6,499,100.00
3IINFOTECH,EQ,2020-04-03,1.25,1.30,1.30,1.20,1.30,1.30,1.28,2445739,31.24,885,1499511,61.31
3MINDIA,EQ,2020-04-03,18469.55,18410.00,18650.00,17175.00,17400.05,17490.10,17514.14,7588,1328.97,3561,3359,44.27
3PLAND,EQ,2020-04-03,3.40,3.40,3.55,3.40,3.55,3.55,3.55,1503,0.05,8,1503,100.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZODJRDMKJ,EQ,2020-04-03,23.00,22.95,22.95,22.90,22.90,22.90,22.90,220,0.05,3,210,95.45
ZOTA,EQ,2020-04-03,132.45,131.95,133.90,128.05,131.50,132.00,131.52,5523,7.26,103,3332,60.33
ZUARI,EQ,2020-04-03,63.60,65.95,65.95,61.00,64.90,64.70,63.63,23050,14.67,552,15600,67.68
ZUARIGLOB,EQ,2020-04-03,26.65,28.95,28.95,25.50,26.80,26.70,26.73,18128,4.85,251,10459,57.70
ZYDUSWELL,EQ,2020-04-03,1241.75,1265.75,1265.75,1213.00,1215.00,1216.40,1222.53,6988,85.43,1433,4680,66.97

In [20]:
nse.bhavcopy_fno()

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40956
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=SBIN&series=%5B%22EQ%22%5D&from=27-08-2021&to=05-09-2021&csv=true HTTP/1.1" 200 437
DEBUG:pynse.core:downloading bhavcopy for 2021-09-03
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40957
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): archives.nseindia.com:443
DEBUG:urllib3.connectionpool:https://archives.nseindia.com:443 "GET /content/historical/DERIVATIVES/2021/SEP/fo03SEP2021bhav.csv.zip HTTP/1.1" 200 665612
INFO:numexpr.utils:Note: NumExpr detected 16 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
INFO:numexpr.utils:NumExpr defaulting to 8 threads.

,INSTRUMENT,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP
SYMBOL,,,,,,,,,,,,,,
BANKNIFTY,FUTIDX,2021-09-30,0.0,XX,37038.95,37249.00,36670.05,36899.75,36899.75,139924,1292463.66,1933100,151000,03-SEP-2021
BANKNIFTY,FUTIDX,2021-10-28,0.0,XX,37150.50,37364.90,36803.35,37021.45,37021.45,3790,35147.03,108725,9675,03-SEP-2021
BANKNIFTY,FUTIDX,2021-11-25,0.0,XX,37300.00,37494.95,36950.00,37173.05,37173.05,665,6192.56,13900,950,03-SEP-2021
FINNIFTY,FUTIDX,2021-09-09,0.0,XX,0.00,0.00,0.00,16779.10,18141.45,0,0.00,0,0,03-SEP-2021
FINNIFTY,FUTIDX,2021-09-16,0.0,XX,0.00,0.00,0.00,17037.70,18154.15,0,0.00,0,0,03-SEP-2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZEEL,OPTSTK,2021-11-25,250.0,PE,0.00,0.00,0.00,82.80,75.15,0,0.00,0,0,03-SEP-2021
ZEEL,OPTSTK,2021-11-25,255.0,PE,0.00,0.00,0.00,87.35,79.65,0,0.00,0,0,03-SEP-2021
ZEEL,OPTSTK,2021-11-25,260.0,PE,0.00,0.00,0.00,92.00,84.20,0,0.00,0,0,03-SEP-2021
ZEEL,OPTSTK,2021-11-25,265.0,PE,0.00,0.00,0.00,96.65,88.85,0,0.00,0,0,03-SEP-2021
ZEEL,OPTSTK,2021-11-25,270.0,PE,0.00,0.00,0.00,101.35,93.50,0,0.00,0,0,03-SEP-2021

In [24]:
nse.bhavcopy_fno(datetime.date(2021,9,3))

DEBUG:pynse.core:read C:\Users\kumar\.pynse/bhavcopy_fno/bhav_2021-09-03.pkl from disk

,INSTRUMENT,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP
SYMBOL,,,,,,,,,,,,,,
BANKNIFTY,FUTIDX,2021-09-30,0.0,XX,37038.95,37249.00,36670.05,36899.75,36899.75,139924,1292463.66,1933100,151000,03-SEP-2021
BANKNIFTY,FUTIDX,2021-10-28,0.0,XX,37150.50,37364.90,36803.35,37021.45,37021.45,3790,35147.03,108725,9675,03-SEP-2021
BANKNIFTY,FUTIDX,2021-11-25,0.0,XX,37300.00,37494.95,36950.00,37173.05,37173.05,665,6192.56,13900,950,03-SEP-2021
FINNIFTY,FUTIDX,2021-09-09,0.0,XX,0.00,0.00,0.00,16779.10,18141.45,0,0.00,0,0,03-SEP-2021
FINNIFTY,FUTIDX,2021-09-16,0.0,XX,0.00,0.00,0.00,17037.70,18154.15,0,0.00,0,0,03-SEP-2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZEEL,OPTSTK,2021-11-25,250.0,PE,0.00,0.00,0.00,82.80,75.15,0,0.00,0,0,03-SEP-2021
ZEEL,OPTSTK,2021-11-25,255.0,PE,0.00,0.00,0.00,87.35,79.65,0,0.00,0,0,03-SEP-2021
ZEEL,OPTSTK,2021-11-25,260.0,PE,0.00,0.00,0.00,92.00,84.20,0,0.00,0,0,03-SEP-2021
ZEEL,OPTSTK,2021-11-25,265.0,PE,0.00,0.00,0.00,96.65,88.85,0,0.00,0,0,03-SEP-2021
ZEEL,OPTSTK,2021-11-25,270.0,PE,0.00,0.00,0.00,101.35,93.50,0,0.00,0,0,03-SEP-2021

# Download historical data

In [25]:
nse.get_hist('INFY')

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40957
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=INFY&series=%5B%22EQ%22%5D&from=06-08-2021&to=05-09-2021&csv=true HTTP/1.1" 200 1088

               open     high      low    close    volume
Date
2021-08-06  1657.00  1660.65  1644.00  1650.20   3754855
2021-08-09  1661.00  1667.45  1646.40  1663.30   5018477
2021-08-10  1668.00  1680.00  1661.05  1677.25   6846517
2021-08-11  1674.80  1684.00  1668.00  1677.55   4899639
2021-08-12  1679.15  1696.50  1674.00  1689.60   5659579
2021-08-13  1697.00  1722.50  1691.30  1712.20   5612790
2021-08-16  1707.70  1719.95  1690.10  1704.40   4564109
2021-08-17  1703.90  1748.90  1686.55  1741.65   9510390
2021-08-18  1729.00  1755.50  1727.00  1733.45   6686090
2021-08-20  1716.10  1745.00  1716.10  1732.95   6206972
2021-08-23  1735.75  1753.15  1732.00  1738.75   6189051
2021-08-24  1750.00  1757.00  1712.70  1720.85   7602939
2021-08-25  1718.00  1746.90  1718.00  1735.55   6153253
2021-08-26  1734.00  1746.00  1720.00  1727.70   5302248
2021-08-27  1725.00  1727.70  1705.20  1708.80   6698514
2021-08-30  1703.05  1718.65  1690.40  1698.05   6559667
2021-08-31  1700.15  1715.00  1685.85  1706.45  12255438
2021-09-01  1709.50  1709.50  1673.15  1677.75   7801974
2021-09-02  1677.35  1694.30  1662.65  1689.10   6830050
2021-09-03  1696.05  1705.95  1684.40  1700.65   5339139

In [26]:
nse.get_hist('INFY', datetime.date(2010,1,1),datetime.date(2021,9,3))

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40960
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=INFY&series=%5B%22EQ%22%5D&from=01-01-2010&to=26-04-2011&csv=true HTTP/1.1" 200 13111
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40959
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=INFY&series=%5B%22EQ%22%5D&from=27-04-2011&to=19-08-2012&csv=true HTTP/1.1" 200 14210
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40954
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=INFY&series=%5B%22EQ%22%5D&from=20-08-2012&to=13-12-2013&csv=true HTTP/1.1" 200 14154
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40953
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=INFY&series=%5B%22EQ%22%5D&from=14-12-2013&to=08-04-2015&csv=true HTTP/1.1" 200 14253
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40952
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=INFY&series=%5B%22EQ%22%5D&from=09-04-2015&to=01-08-2016&csv=true HTTP/1.1" 200 13978
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40956
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=INFY&series=%5B%22EQ%22%5D&from=02-08-2016&to=25-11-2017&csv=true HTTP/1.1" 200 13702
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40957
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=INFY&series=%5B%22EQ%22%5D&from=26-11-2017&to=21-03-2019&csv=true HTTP/1.1" 200 14063
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40955
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=INFY&series=%5B%22EQ%22%5D&from=22-03-2019&to=14-07-2020&csv=true HTTP/1.1" 200 13565
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40956
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=INFY&series=%5B%22EQ%22%5D&from=15-07-2020&to=03-09-2021&csv=true HTTP/1.1" 200 12827

               open     high      low    close    volume
Date
2010-01-04  2610.00  2630.00  2595.30  2612.60    508658
2010-01-05  2620.00  2630.70  2600.10  2621.35    861941
2010-01-06  2683.00  2683.00  2575.10  2583.10    852161
2010-01-07  2586.60  2586.60  2518.20  2525.05   1361575
2010-01-08  2519.00  2523.30  2458.00  2464.20   1581164
...             ...      ...      ...      ...       ...
2021-08-30  1703.05  1718.65  1690.40  1698.05   6559667
2021-08-31  1700.15  1715.00  1685.85  1706.45  12255438
2021-09-01  1709.50  1709.50  1673.15  1677.75   7801974
2021-09-02  1677.35  1694.30  1662.65  1689.10   6830050
2021-09-03  1696.05  1705.95  1684.40  1700.65   5339139

[2897 rows x 5 columns]

In [28]:
nse.get_hist('HDFC', datetime.date(2010,1,1),datetime.date(2021,9,3))

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40956
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=HDFC&series=%5B%22EQ%22%5D&from=01-01-2010&to=26-04-2011&csv=true HTTP/1.1" 200 12640
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40954
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=HDFC&series=%5B%22EQ%22%5D&from=27-04-2011&to=19-08-2012&csv=true HTTP/1.1" 200 13278
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40952
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=HDFC&series=%5B%22EQ%22%5D&from=20-08-2012&to=13-12-2013&csv=true HTTP/1.1" 200 13600
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40948
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=HDFC&series=%5B%22EQ%22%5D&from=14-12-2013&to=08-04-2015&csv=true HTTP/1.1" 200 13744
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40952
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=HDFC&series=%5B%22EQ%22%5D&from=09-04-2015&to=01-08-2016&csv=true HTTP/1.1" 200 14075
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40955
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=HDFC&series=%5B%22EQ%22%5D&from=02-08-2016&to=25-11-2017&csv=true HTTP/1.1" 200 14018
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40956
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=HDFC&series=%5B%22EQ%22%5D&from=26-11-2017&to=21-03-2019&csv=true HTTP/1.1" 200 14245
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40955
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=HDFC&series=%5B%22EQ%22%5D&from=22-03-2019&to=14-07-2020&csv=true HTTP/1.1" 200 14501
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): www.nseindia.com:443
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET / HTTP/1.1" 200 40954
DEBUG:urllib3.connectionpool:https://www.nseindia.com:443 "GET /api/historical/cm/equity?symbol=HDFC&series=%5B%22EQ%22%5D&from=15-07-2020&to=03-09-2021&csv=true HTTP/1.1" 200 12696

               open     high      low    close   volume
Date
2010-01-04  2694.80  2737.00  2665.85  2674.35   235244
2010-01-05  2708.00  2730.00  2666.10  2683.45   330148
2010-01-06  2700.00  2700.00  2661.25  2696.35   403492
2010-01-07  2677.20  2695.00  2625.55  2646.15   690703
2010-01-08  2650.00  2667.30  2590.35  2600.05  2285012
...             ...      ...      ...      ...      ...
2021-08-30  2730.45  2764.90  2723.10  2755.70  1731926
2021-08-31  2748.00  2812.00  2739.35  2798.50  4933523
2021-09-01  2790.00  2796.95  2736.60  2747.75  3084291
2021-09-02  2756.90  2785.00  2737.25  2777.70  1734037
2021-09-03  2768.10  2784.15  2742.10  2758.60  1914438

[2897 rows x 5 columns]