In [5]:
import pandas as pd

In [19]:
df_1 = pd.read_excel('Python&Excel_Assesment.xlsx', 'DataSet')
df_2= pd.read_excel('Python&Excel_Assesment.xlsx', 'DataSet2')

In [20]:
df_1.head()

,name,Id_a,Id_b,startDay,startTime,endDay,endTime,ablePri2AxlesAuto,ablePri3AxlesAuto,ablePri4AxlesAuto,...,ableSecHov2,ableSecHov3,able2Hov2,able2Hov3,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3
0,ZUK,30000,-1,Monday,05:00:00,Wednesday,10:00:00,127.0,52,23,...,-1.0,-1.0,3.0,3.0,-1.0,-1,3,3,3,3
1,KHJ,30000,-1,Monday,10:00:00,Friday,15:00:00,119.0,59,31,...,-1.0,-1.0,6.0,6.0,-1.0,-1,6,6,6,6
2,DFK,30000,-1,Thursday,15:00:00,Friday,19:00:00,126.0,57,31,...,-1.0,-1.0,3.0,3.0,-1.0,-1,3,3,3,3
3,DFD,30000,-1,Monday,19:00:00,Friday,23:59:59,128.0,64,32,...,-1.0,-1.0,6.0,6.0,-1.0,-1,6,6,6,6
4,MWS,30000,-1,Saturday,00:00:00,Sunday,23:59:59,115.0,63,29,...,-1.0,-1.0,6.0,6.0,NaN,-1,6,6,6,6

In [13]:
df_1.shape

(23, 78)

In [21]:
df_2.head()

,name,Id_a,Id_b,startDay,startTime,endDay,endTime,ablePri2AxlesAuto,ablePri4AxlesAuto,ablePri2AxlesDualTire,...,ableSecHov2,ableSecHov3,able2Hov2,able2Hov3,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3
0,COM,30000,30002,Monday,05:00:00,Friday,10:00:00,116,30,15,...,-1,-1,3,3,-1,-1,3,3,3,3
1,FMG,30000,30002,Monday,19:00:00,Friday,23:59:59,127,32,11,...,-1,-1,6,6,-1,-1,6,6,6,6
2,PSQ,30000,30002,Monday,19:00:00,Friday,23:59:59,104,23,14,...,-1,-1,6,6,-1,-1,6,6,6,6
3,XBL,30000,30002,Monday,19:00:00,Friday,23:59:59,128,32,16,...,-1,-1,6,6,-1,-1,6,6,6,6
4,VRK,30000,30002,Monday,19:00:00,Friday,23:59:59,107,22,12,...,-1,-1,6,6,-1,-1,6,6,6,6

In [22]:
df_2.shape

(23, 78)

In [23]:
df_2.head()

,name,Id_a,Id_b,startDay,startTime,endDay,endTime,ablePri2AxlesAuto,ablePri4AxlesAuto,ablePri2AxlesDualTire,...,ableSecHov2,ableSecHov3,able2Hov2,able2Hov3,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3
0,COM,30000,30002,Monday,05:00:00,Friday,10:00:00,116,30,15,...,-1,-1,3,3,-1,-1,3,3,3,3
1,FMG,30000,30002,Monday,19:00:00,Friday,23:59:59,127,32,11,...,-1,-1,6,6,-1,-1,6,6,6,6
2,PSQ,30000,30002,Monday,19:00:00,Friday,23:59:59,104,23,14,...,-1,-1,6,6,-1,-1,6,6,6,6
3,XBL,30000,30002,Monday,19:00:00,Friday,23:59:59,128,32,16,...,-1,-1,6,6,-1,-1,6,6,6,6
4,VRK,30000,30002,Monday,19:00:00,Friday,23:59:59,107,22,12,...,-1,-1,6,6,-1,-1,6,6,6,6

In [24]:
frames = [df1, df2]
final_data = pd.concat(frames)

In [8]:
final.head()

,name,Id_a,Id_b,startDay,startDay.1,startTime,endDay,endDay.1,endTime,ablePri2AxlesAuto,...,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,able24AxlesAuto
0,ZUK,30000,-1,Monday,1.0,05:00:00,Wednesday,3.0,10:00:00,127.0,...,-1,3,3,3,3,NaN,NaN,NaN,NaN,NaN
1,KHJ,30000,-1,Monday,1.0,10:00:00,Friday,5.0,15:00:00,119.0,...,-1,6,6,6,6,NaN,NaN,NaN,NaN,NaN
2,DFK,30000,-1,Thursday,4.0,15:00:00,Friday,5.0,19:00:00,126.0,...,-1,3,3,3,3,NaN,NaN,NaN,NaN,NaN
3,DFD,30000,-1,Monday,1.0,19:00:00,Friday,5.0,23:59:59,128.0,...,-1,6,6,6,6,NaN,NaN,NaN,NaN,NaN
4,MWS,30000,-1,Saturday,6.0,00:00:00,Sunday,7.0,23:59:59,115.0,...,-1,6,6,6,6,NaN,NaN,NaN,NaN,NaN

In [25]:
final_data.shape

(48, 79)

In [28]:
final_data = final_data[['name','Id_a','Id_b','startDay','startTime','endDay','endTime','ablePri2AxlesAuto','ablePri3AxlesAuto','ablePri4AxlesAuto','ablePri2AxlesDualTire','ablePri2AxlesTaxi','ablePri2AxlesTaxiPool','able23AxlesAuto','able24AxlesAuto']]

In [11]:
final.head()

,name,Id_a,Id_b,startDay,startTime,endDay,endTime,ablePri2AxlesAuto,ablePri3AxlesAuto,ablePri4AxlesAuto,ablePri2AxlesDualTire,ablePri2AxlesTaxi,ablePri2AxlesTaxiPool,able23AxlesAuto,able24AxlesAuto
0,ZUK,30000,-1,Monday,05:00:00,Wednesday,10:00:00,127.0,52.0,23,13,7,4,1,NaN
1,KHJ,30000,-1,Monday,10:00:00,Friday,15:00:00,119.0,59.0,31,13,6,2,1,NaN
2,DFK,30000,-1,Thursday,15:00:00,Friday,19:00:00,126.0,57.0,31,14,7,2,1,NaN
3,DFD,30000,-1,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,NaN
4,MWS,30000,-1,Saturday,00:00:00,Sunday,23:59:59,115.0,63.0,29,12,8,2,2,NaN

In [29]:
final_data.shape

(48, 15)

In [30]:
final_data.isnull().sum()

name                      0
Id_a                      0
Id_b                      0
startDay                  0
startTime                 0
endDay                    0
endTime                   0
ablePri2AxlesAuto         2
ablePri3AxlesAuto        23
ablePri4AxlesAuto         0
ablePri2AxlesDualTire     0
ablePri2AxlesTaxi         0
ablePri2AxlesTaxiPool     0
able23AxlesAuto           0
able24AxlesAuto          25
dtype: int64

In [34]:
final_data['ablePri2AxlesAuto'].fillna(value=128,inplace=True)

In [35]:
final_data.isnull().sum()

name                      0
Id_a                      0
Id_b                      0
startDay                  0
startTime                 0
endDay                    0
endTime                   0
ablePri2AxlesAuto         0
ablePri3AxlesAuto        23
ablePri4AxlesAuto         0
ablePri2AxlesDualTire     0
ablePri2AxlesTaxi         0
ablePri2AxlesTaxiPool     0
able23AxlesAuto           0
able24AxlesAuto          25
dtype: int64

In [37]:
final_data['ablePri3AxlesAuto'].fillna(value=64,inplace=True)

In [39]:
final_data['able23AxlesAuto'].fillna(value=64,inplace=True)

In [41]:
final_data['able24AxlesAuto'].fillna(value=1,inplace=True)

In [42]:
final_data.sort_values('ablePri2AxlesAuto').drop_duplicates(subset=['Id_a', 'Id_b'], keep='last', inplace = True)

In [60]:
final_data.sort_values(['Id_a', 'Id_b'], ascending=[True, True], inplace = True)

<ipython-input-60-8120c948b456>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data.sort_values(['Id_a', 'Id_b'], ascending=[True, True], inplace = True)

In [62]:
final_data.to_csv('task_3_data_in_csv_format.csv')

In [63]:
df_slice_of_final_data = final_data[['Id_a','Id_b','ablePri2AxlesAuto','ablePri3AxlesAuto','ablePri4AxlesAuto','ablePri2AxlesDualTire','ablePri2AxlesTaxi','ablePri2AxlesTaxiPool','able23AxlesAuto','able24AxlesAuto']]

In [64]:
df_slice_of_final_data.shape

(48, 10)

In [65]:
df_slice_of_final_data.head()

,Id_a,Id_b,ablePri2AxlesAuto,ablePri3AxlesAuto,ablePri4AxlesAuto,ablePri2AxlesDualTire,ablePri2AxlesTaxi,ablePri2AxlesTaxiPool,able23AxlesAuto,able24AxlesAuto
0,30000,-1,127.0,52.0,23,13,7,4,1,1.0
1,30000,-1,119.0,59.0,31,13,6,2,1,1.0
2,30000,-1,126.0,57.0,31,14,7,2,1,1.0
3,30000,-1,128.0,64.0,32,16,8,4,2,1.0
4,30000,-1,115.0,63.0,29,12,8,2,2,1.0

In [66]:
df_10 = df_slice_of_final_data.pivot_table(values = 'ablePri2AxlesAuto', columns = ['Id_b'], index=['Id_a'], aggfunc='count')

In [70]:
df_10['pivoted_col'] = 'ablePri2AxlesAuto'

In [71]:
df_11 = df_slice_of_final_data.pivot_table(values = 'ablePri3AxlesAuto', columns = ['Id_b'], index=['Id_a'], aggfunc='count')

In [72]:
df_11['pivoted_col'] = 'ablePri3AxlesAuto'

In [74]:
df_12 = df_slice_of_final_data.pivot_table(values = 'ablePri4AxlesAuto', columns = ['Id_b'], index=['Id_a'], aggfunc='count')

In [75]:
df_12['pivoted_col'] = 'ablePri4AxlesAuto'

In [76]:
df_13 = df_slice_of_final_data.pivot_table(values = 'ablePri2AxlesDualTire', columns = ['Id_b'], index=['Id_a'], aggfunc='count')

In [77]:
df_13['pivoted_col'] = 'ablePri2AxlesDualTire'

In [80]:
df_14 = df_slice_of_final_data.pivot_table(values = 'ablePri2AxlesTaxi', columns = ['Id_b'], index=['Id_a'], aggfunc='count')

In [81]:
df_14['pivoted_col'] = 'ablePri2AxlesTaxi'

In [82]:
df_15 = df_slice_of_final_data.pivot_table(values = 'ablePri2AxlesTaxiPool', columns = ['Id_b'], index=['Id_a'], aggfunc='count')

In [87]:
df_15['pivoted_col'] = 'ablePri2AxlesTaxiPool'

In [90]:
df_16 = df_slice_of_final_data.pivot_table(values = 'able23AxlesAuto', columns = ['Id_b'], index=['Id_a'], aggfunc='count')

In [91]:
df_16['pivoted_col'] = 'able23AxlesAuto'

In [92]:
df_17 = df_slice_of_final_data.pivot_table(values = 'able24AxlesAuto', columns = ['Id_b'], index=['Id_a'], aggfunc='count')

In [95]:
df_17['pivoted_col'] = 'able24AxlesAuto'

In [98]:
frames_data = [df_10,df_11,df_12,df_13,df_14,df_15,df_16,df_17]

In [100]:
end_data = pd.concat(frames_data)

In [101]:
end_data.head()

Id_b     -1  30000  30002  30004        pivoted_col
Id_a
30000   5.0    NaN    5.0    6.0  ablePri2AxlesAuto
30002  11.0    3.0    NaN    3.0  ablePri2AxlesAuto
30004   9.0    3.0    3.0    NaN  ablePri2AxlesAuto
30000   5.0    NaN    5.0    6.0  ablePri3AxlesAuto
30002  11.0    3.0    NaN    3.0  ablePri3AxlesAuto

In [44]:
en.shape

(21, 5)

In [45]:
last.to_csv('task_4.csv')