In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('Python&Excel_Assesment.xlsx', 'DataSet')
df2 = pd.read_excel('Python&Excel_Assesment.xlsx', 'DataSet2')

In [3]:
df1.head()

,name,Id_a,Id_b,startDay,startDay.1,startTime,endDay,endDay.1,endTime,ablePri2AxlesAuto,...,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83
0,ZUK,30000,-1,Monday,1,05:00:00,Wednesday,3,10:00:00,127.0,...,-1.0,-1,3,3,3,3,NaN,NaN,NaN,NaN
1,KHJ,30000,-1,Monday,1,10:00:00,Friday,5,15:00:00,119.0,...,-1.0,-1,6,6,6,6,NaN,NaN,NaN,NaN
2,DFK,30000,-1,Thursday,4,15:00:00,Friday,5,19:00:00,126.0,...,-1.0,-1,3,3,3,3,NaN,NaN,NaN,NaN
3,DFD,30000,-1,Monday,1,19:00:00,Friday,5,23:59:59,128.0,...,-1.0,-1,6,6,6,6,NaN,NaN,NaN,NaN
4,MWS,30000,-1,Saturday,6,00:00:00,Sunday,7,23:59:59,115.0,...,NaN,-1,6,6,6,6,NaN,NaN,NaN,NaN

In [4]:
df1.shape

(25, 84)

In [5]:
df2.head()

,name,Id_a,Id_b,startDay,startTime,endDay,endTime,ablePri2AxlesAuto,ablePri4AxlesAuto,ablePri2AxlesDualTire,...,ableSecHov2,ableSecHov3,able2Hov2,able2Hov3,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3
0,COM,30000,30002,Monday,05:00:00,Friday,10:00:00,116,30,15,...,-1,-1,3,3,-1,-1,3,3,3,3
1,FMG,30000,30002,Monday,19:00:00,Friday,23:59:59,127,32,11,...,-1,-1,6,6,-1,-1,6,6,6,6
2,PSQ,30000,30002,Monday,19:00:00,Friday,23:59:59,104,23,14,...,-1,-1,6,6,-1,-1,6,6,6,6
3,XBL,30000,30002,Monday,19:00:00,Friday,23:59:59,128,32,16,...,-1,-1,6,6,-1,-1,6,6,6,6
4,VRK,30000,30002,Monday,19:00:00,Friday,23:59:59,107,22,12,...,-1,-1,6,6,-1,-1,6,6,6,6

In [6]:
df2.shape

(23, 78)

In [7]:
frames = [df1, df2]
final = pd.concat(frames)

In [8]:
final.head()

,name,Id_a,Id_b,startDay,startDay.1,startTime,endDay,endDay.1,endTime,ablePri2AxlesAuto,...,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,able24AxlesAuto
0,ZUK,30000,-1,Monday,1.0,05:00:00,Wednesday,3.0,10:00:00,127.0,...,-1,3,3,3,3,NaN,NaN,NaN,NaN,NaN
1,KHJ,30000,-1,Monday,1.0,10:00:00,Friday,5.0,15:00:00,119.0,...,-1,6,6,6,6,NaN,NaN,NaN,NaN,NaN
2,DFK,30000,-1,Thursday,4.0,15:00:00,Friday,5.0,19:00:00,126.0,...,-1,3,3,3,3,NaN,NaN,NaN,NaN,NaN
3,DFD,30000,-1,Monday,1.0,19:00:00,Friday,5.0,23:59:59,128.0,...,-1,6,6,6,6,NaN,NaN,NaN,NaN,NaN
4,MWS,30000,-1,Saturday,6.0,00:00:00,Sunday,7.0,23:59:59,115.0,...,-1,6,6,6,6,NaN,NaN,NaN,NaN,NaN

In [9]:
final.shape

(48, 85)

In [10]:
final = final[['name','Id_a','Id_b','startDay','startTime','endDay','endTime','ablePri2AxlesAuto','ablePri3AxlesAuto','ablePri4AxlesAuto','ablePri2AxlesDualTire','ablePri2AxlesTaxi','ablePri2AxlesTaxiPool','able23AxlesAuto','able24AxlesAuto']]

In [11]:
final.head()

,name,Id_a,Id_b,startDay,startTime,endDay,endTime,ablePri2AxlesAuto,ablePri3AxlesAuto,ablePri4AxlesAuto,ablePri2AxlesDualTire,ablePri2AxlesTaxi,ablePri2AxlesTaxiPool,able23AxlesAuto,able24AxlesAuto
0,ZUK,30000,-1,Monday,05:00:00,Wednesday,10:00:00,127.0,52.0,23,13,7,4,1,NaN
1,KHJ,30000,-1,Monday,10:00:00,Friday,15:00:00,119.0,59.0,31,13,6,2,1,NaN
2,DFK,30000,-1,Thursday,15:00:00,Friday,19:00:00,126.0,57.0,31,14,7,2,1,NaN
3,DFD,30000,-1,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,NaN
4,MWS,30000,-1,Saturday,00:00:00,Sunday,23:59:59,115.0,63.0,29,12,8,2,2,NaN

In [12]:
final.shape

(48, 15)

In [13]:
final.isnull().sum()

name                      0
Id_a                      0
Id_b                      0
startDay                  0
startTime                 0
endDay                    0
endTime                   0
ablePri2AxlesAuto         2
ablePri3AxlesAuto        23
ablePri4AxlesAuto         0
ablePri2AxlesDualTire     0
ablePri2AxlesTaxi         0
ablePri2AxlesTaxiPool     0
able23AxlesAuto           0
able24AxlesAuto          25
dtype: int64

In [14]:
final['ablePri2AxlesAuto'].fillna(value=128,inplace=True)

In [15]:
final.isnull().sum()

name                      0
Id_a                      0
Id_b                      0
startDay                  0
startTime                 0
endDay                    0
endTime                   0
ablePri2AxlesAuto         0
ablePri3AxlesAuto        23
ablePri4AxlesAuto         0
ablePri2AxlesDualTire     0
ablePri2AxlesTaxi         0
ablePri2AxlesTaxiPool     0
able23AxlesAuto           0
able24AxlesAuto          25
dtype: int64

In [16]:
final['ablePri3AxlesAuto'].fillna(value=64,inplace=True)

In [17]:
final['able23AxlesAuto'].fillna(value=64,inplace=True)

In [18]:
final['able24AxlesAuto'].fillna(value=1,inplace=True)

In [19]:
final.sort_values('ablePri2AxlesAuto').drop_duplicates(subset=['Id_a', 'Id_b'], keep='last', inplace = True)

In [20]:
final.sort_values(['Id_a', 'Id_b'], ascending=[True, True], inplace = True)

In [21]:
final.to_csv('task_3.csv')

In [22]:
df_slice = final[['Id_a','Id_b','ablePri2AxlesAuto','ablePri3AxlesAuto','ablePri4AxlesAuto','ablePri2AxlesDualTire','ablePri2AxlesTaxi','ablePri2AxlesTaxiPool','able23AxlesAuto','able24AxlesAuto']]

In [23]:
df_slice.shape

(48, 10)

In [24]:
df_slice.head()

,Id_a,Id_b,ablePri2AxlesAuto,ablePri3AxlesAuto,ablePri4AxlesAuto,ablePri2AxlesDualTire,ablePri2AxlesTaxi,ablePri2AxlesTaxiPool,able23AxlesAuto,able24AxlesAuto
0,30000,-1,127.0,52.0,23,13,7,4,1,1.0
1,30000,-1,119.0,59.0,31,13,6,2,1,1.0
2,30000,-1,126.0,57.0,31,14,7,2,1,1.0
3,30000,-1,128.0,64.0,32,16,8,4,2,1.0
4,30000,-1,115.0,63.0,29,12,8,2,2,1.0

In [25]:
df10 = df_slice.pivot_table(values = 'ablePri2AxlesAuto', columns = ['Id_b'], index=['Id_a'], aggfunc='count')

In [26]:
df10['pivoted_col'] = 'ablePri2AxlesAuto'

In [27]:
df11 = df_slice.pivot_table(values = 'ablePri3AxlesAuto', columns = ['Id_b'], index=['Id_a'], aggfunc='count')

In [28]:
df11['pivoted_col'] = 'ablePri3AxlesAuto'

In [29]:
df12 = df_slice.pivot_table(values = 'ablePri4AxlesAuto', columns = ['Id_b'], index=['Id_a'], aggfunc='count')

In [30]:
df12['pivoted_col'] = 'ablePri4AxlesAuto'

In [31]:
df13 = df_slice.pivot_table(values = 'ablePri2AxlesDualTire', columns = ['Id_b'], index=['Id_a'], aggfunc='count')

In [32]:
df13['pivoted_col'] = 'ablePri2AxlesDualTire'

In [33]:
df14 = df_slice.pivot_table(values = 'ablePri2AxlesTaxi', columns = ['Id_b'], index=['Id_a'], aggfunc='count')

In [34]:
df14['pivoted_col'] = 'ablePri2AxlesTaxi'

In [35]:
df15 = df_slice.pivot_table(values = 'ablePri2AxlesTaxiPool', columns = ['Id_b'], index=['Id_a'], aggfunc='count')

In [36]:
df15['pivoted_col'] = 'ablePri2AxlesTaxiPool'

In [37]:
df16 = df_slice.pivot_table(values = 'able23AxlesAuto', columns = ['Id_b'], index=['Id_a'], aggfunc='count')

In [38]:
df16['pivoted_col'] = 'able23AxlesAuto'

In [39]:
df17 = df_slice.pivot_table(values = 'able24AxlesAuto', columns = ['Id_b'], index=['Id_a'], aggfunc='count')

In [40]:
df17['pivoted_col'] = 'able24AxlesAuto'

In [41]:
frames2 = [df10,df11,df12,df13,df14,df15,df16,df17]

In [42]:
last = pd.concat(frames2)

In [43]:
last.head()

Id_b     -1  30000  30002  30004        pivoted_col
Id_a
30000   5.0    NaN    5.0    6.0  ablePri2AxlesAuto
30002  11.0    3.0    NaN    3.0  ablePri2AxlesAuto
30004   9.0    3.0    3.0    NaN  ablePri2AxlesAuto
30000   5.0    NaN    5.0    6.0  ablePri3AxlesAuto
30002  11.0    3.0    NaN    3.0  ablePri3AxlesAuto

In [44]:
last.shape

(21, 5)

In [45]:
last.to_csv('task_4.csv')